body {
  background-color: #428ff4;
}

h1 {
font-family: 'Assistant', sans-serif;
text-align: center;
}

h2 {
  font-family: 'Ek Mukta', sans-serif;
}

h3 {
  font-family: 'Ek Mukta', sans-serif;
}

h5 {
  font-family: 'Ek Mukta', sans-serif;
  text-align: right;
}

.twitter-timeline {
  float: right;
}
